<h1>Import Flat Files</h1>

<%= form_for @import, url: flat_file_import_path, html: { multipart: true } do |form| %>
  <% if form.object.errors.size > 0 %>
    <div class="alert alert-danger">
      <% form.object.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
  <%= form.label :import_file %>
  <%= form.file_field :import_file %>
  <span class="help-block">The import file should be an Excel Spreadsheet exported from the FileMaker Pro database.</span>
  <div class="form-actions">
    <%= form.submit "Import", class: 'btn btn-primary' %>
  </div>
<% end %>
